<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>
    Low stock and out of stock products shown here
    <% products.map(product => { %>
        <div class="product-row">
            <p><strong><%= product.food_name  %></strong></p>
            <p><%= product.price %></p>
            <p><%= product.category %></p>
        </div>
    <% }) %>
</body>
</html>